:root{
	--main-color:#002A54;
	--main-dark:rgb(48, 127, 226);
    
}
html{
    scroll-behavior: smooth;
}
.reyhamForm{
    width: 70%;
}

.errorSmall{
    color:brown;
    float:right;
}
.hidden{
    display: none;
}
.lang{
    display: grid;

}
.lang li{
    cursor: pointer;
    color:#fff;
}
.filterIcon{
    position: absolute;
    bottom: 15px;
    font-size: 22px;
    font-weight: bold;
    color: var(--blue);
    right: 20px;
    cursor: pointer;
}
.rev{
    flex-direction: row-reverse;
}

.form-field-fiin .icon-edit {
    position: absolute;
    bottom: 18px;
    right: -30px;
    cursor: pointer;
}
.form-field-fiin:hover {
    color:var(--blue)
}
.email-form-fiin{
    margin-top: 35px;

}
.btn-email {
    background: var(--main-dark);
    border: 1px solid var(--main-dark);
    border-radius: 4px;
    font-size: 13px;
    color: #fff;
    padding: 15px;
    transition: 0.3s;
    width: 90%;
}

.btn-email:hover {
    background-color: transparent;
    color: var(--main-dark);
}
.change-email{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

@media only screen and (max-width:1200px){
    .table-fiin table {
        max-width: 1300px;
        width: 100%;
      }
}
@media only screen and (max-width:992px){
    .header-logo{
        margin:auto;
    }
    .main-menu > li:hover .sub-menu {
        display: block;
    }
    
}
@media only screen and (max-width: 768px) {
    .account-head:hover ul {
        display: block;
    }
}